<ion-content class="password-page">
  <div class="password-container">
    <div class="logo-container">
      <img src="assets/imagenes/IconoHydro.png" alt="IconoHydro" class="logo-image-left">
      <h1>HydroGuard</h1>
      <img src="assets/imagenes/IconoHydro.png" alt="IconoHydro" class="logo-image-right" style="transform: scaleX(-1);">
    </div>

    <h2>Recuperar Contraseña</h2>

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <label class="input-label">Ingrese su correo</label>
      <ion-input formControlName="email" type="email" placeholder="Ingrese su correo"></ion-input>

      <label class="input-label">Ingrese alguna contraseña que recuerde</label>
      <ion-input formControlName="oldPassword" type="password" placeholder="Ingrese alguna contraseña que recuerde"></ion-input>

      <label class="input-label">Nueva contraseña</label>
      <ion-input formControlName="newPassword" type="password" placeholder="Nueva contraseña"></ion-input>

      <label class="input-label">Confirmar contraseña</label>
      <ion-input formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña"></ion-input>

      <ion-button expand="block" class="login-button" type="submit">
        Enviar Solicitud
      </ion-button>
    </form>

    <div class="reminder">
      <p>El cambio de contraseña puede tardar entre 1 a 2 días hábiles.</p>
    </div>
  </div>
</ion-content>
