<ion-header>
  <div class="header-container">
    <h1 class="header-title">Bienvenido a HydroGuard</h1>
  </div>
</ion-header>


<ion-content class="home-page">
  
  <div class="mission-vision page-content"> <!-- Agregar clase 'page-content' para el margen -->
    <div class="mission-box">
      <p class="mission-title">Nuestra Misión:</p>
      <p class="mission">Proteger los recursos naturales a través de la implementación de tecnología accesible y eficiente, ayudando a los hogares a controlar y optimizar su uso del agua.</p>
    </div>

    <div class="future-tech">
      <h1 class="future">FUTURE</h1>
      <h1 class="tech">TECH</h1>
    </div>

    <h2 class="slogan">Cuidemos el Agua</h2>

    <div class="icon-container">
      <img src="assets/imagenes/IconoHydro.png" alt="Icono Hydro" class="icon-left">
      <img src="assets/imagenes/IconoHydro.png" alt="Icono Hydro" class="icon-right" style="transform: scaleX(-1);">
    </div>
  
  </div>

  <div class="vision-box">
    <p class="vision-title">Nuestra Visión:</p>
    <p class="vision">Ser líderes en soluciones sostenibles de gestión del agua, contribuyendo a un futuro donde el uso responsable de los recursos naturales sea la norma, no la excepción.</p>
  </div>

  <div class="button-container">
    <p class="instruction-text">
      *Para poder continuar debe presionar el botón para dirigirse a la página principal de HydroGuard
    </p>
    <ion-button expand="block" href="/menu-principal" class="menu-button">
      Menú Principal
    </ion-button>
  </div>
  
</ion-content>
